body{
    background:url(img/pexels-rachel-punzalan-1263250-2403798.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.inputtask{
    background-color: #fffffff3;
    color: #000;
    width: 90%;
    height: 40px;
    border: none;
}
.hidden{
    display: none;
}
.pageadd_tach{
    background-color: rgba(24, 24, 57, 0.653);
    width: 30%;
}

.container_todo{
    background-color: aliceblue;
    color: #000;
    margin-top: 20px;
    font-size:small;
    display: none;
}
@media (max-width:767px){
    body{
        background:url(img/pexels-ana-frontzek-1654898669-27727844.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .pageadd_tach{
        width: 80%;
    }
    
}