body{
    background:url(img/pexels-rachel-punzalan-1263250-2403798.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.inputtask{
    background-color: #fffffff3;
    color: #000;
    width: 90%;
    height: 40px;
    border: none;
}
.hidden{
    display: none;
}
.pageadd_tach{
    background-color: rgba(24, 24, 57, 0.653);
    width: 30%;
}
.cas{
    background-color: #fff;
    width: 15rem;
    margin-top: 1rem;
    height: 5rem;
    display: flex;
    justify-content: end;
    align-items: end;
}
.casetodo{
   display: block;
    font-size:60%;
    height: 100%;
}
@media (max-width:767px){
    body{
        background:url(img/pexels-ana-frontzek-1654898669-27727844.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .pageadd_tach{
        width: 80%;
    }
    
}